.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
  user-select: none;
}

.counter_button {
  background-color: tomato;
  padding:.5rem 1rem;
  border-radius: .5rem;
  font-weight: 500;
  color: white;
  transition: all 300ms ease-in-out;
  display: inline-block;
}

.counter_button:hover{
  transform: scale(1.05);
}
